.tech-body {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 150px;
  padding-top: 120px;
}

.tech-title {
  text-align: center;
  font-size: 40px;
  color: black;
}

.tech-text {
  text-align: center;
  font-size: 20px;
  color: Black;
  margin-top: 20px;
  margin-bottom: 100px;
}

.techs {
  margin-top: -300px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .techs {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .techItem-body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .tech-body{
    margin: 0;
  }
}
  
