.contact-body{
    margin-top: 200px;
}
.contact-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contact-items{
    margin-top: 25px;
    width: 700px;
    display: flex;
    justify-content: space-around;
}

.contact__social{
    width: 130px;
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
}

.contact__social li {
    list-style: none;
    text-decoration: none;
}
.contact-items a {
    text-decoration: none;
}

.contact-navbarItems{
    display: flex;
    justify-content: center;
}

.contact-navbarItems li, a {
    list-style: none;
    text-decoration: none;
    margin: 20px;
}