.nav-bar{
    display: flex;
    justify-content: space-between;
}

.navbar-items{
    margin-top: 30px;
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.navbar-items li a{
    text-decoration: none;
    font-size: 20px;
    color: #A7A7A7;
}

.navbar-items li{
    list-style: none;
}
.navbar-items li a:hover{
    color: white;
}

.nav-bar__social{
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.nav-bar__social li{
    list-style: none;
}
